<div class="slider mb-3" >
  <ngx-wrapper-tiny-slider #tinySlider [config]="tinySliderConfig" >
    <div class="item">
      <img src="https://picsum.photos/250/300" />
    </div>
    <div class="item">
      <img src="https://picsum.photos/200/300" />
    </div>
    <div class="item">
      <img src="https://picsum.photos/250/350" />
    </div>
    <div class="item">
      <img src="https://picsum.photos/250/350" />
    </div>
    <div class="item">
      <img src="https://picsum.photos/250/350" />
    </div>
    <div class="item">
      <img src="https://picsum.photos/250/350" />
    </div>
    <div class="item">
      <img src="https://picsum.photos/250/350" />
    </div>
    <div class="item">
      <img src="https://picsum.photos/250/350" />
    </div>
    <div class="item">
      <img src="https://picsum.photos/250/350" />
    </div>
    <div class="item">
      <img src="https://picsum.photos/250/350" />
    </div>
    <div class="item">
      <img src="https://picsum.photos/250/350" />
    </div>

  </ngx-wrapper-tiny-slider>
  <div class="arrows" (click)="goTo('next')">
    <span class="rounded-circle bg-white"><i class="fa fa-arrow-right"></i></span>
  </div>
  <div class="arrows" (click)="goTo('prev')">
    <span class="rounded-circle bg-white"><i class="fa fa-arrow-left"></i></span>
  </div>
</div>
