<div class="row ms-0 gx-4 pt-3">
  <div class="col-3">
    <div class="w-100 border-bottom border-1 border-green pb-5 d-centered">
      <img src="assets/images/logo.png" class="rounded-3" style="width: 60%; aspect-ratio: 1/1 " alt="">
    </div>
    <div class="mt-5">
      <div class="">
        <div class="list-group">
          <a routerLink="/me" routerLinkActive="zenor-active" class="list-group-item list-group-item-action anim"><span class="d-flex justify-content-between"><span>Morbi leo risus </span><span class="arrow"><i class="bi bi-arrow-right"></i></span></span></a>
          <a routerLink="/me/playlists" routerLinkActive="zenor-active" class="list-group-item list-group-item-action anim"><span class="d-flex justify-content-between"><span>Morbi leo risus </span><span class="arrow"><i class="bi bi-arrow-right"></i></span></span></a>
          <a routerLink="/me/=" routerLinkActive="zenor-active" class="list-group-item list-group-item-action anim"><span class="d-flex justify-content-between"><span>Morbi leo risus </span><span class="arrow"><i class="bi bi-arrow-right"></i></span></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9 position-relative">
    <router-outlet></router-outlet>
  </div>
</div>
