<div>
  <div class="playlist-profile ms-0 p-1 mb-1">
    <div class="playlist-profile-img position-relative">
      <div class="card-img-overlay d-centered">
        <i class="bi bi-music-note-list text-white fs-4"></i>
      </div>
      <img src="assets/images/logo.png" alt="">
    </div>
    <div class="playlist-profile-info">
      <div class="playlist-profile-name fw-semibold">
        {{song}}
      </div>
      <div class="playlist-profile-date">
        {{'numberOfSongs'| translate}}:
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-center">
      <div class="i-sq i-sq-2 border-green border-1 rounded-2 border me-2 hover-gray">
        <i class="bi bi-pencil fs-6"></i>
      </div>
      <div class="i-sq i-sq-2 border-green border-1 rounded-2 border hover-gray">
        <i class="bi bi-x fs-5"></i>
      </div>
    </div>
  </div>
</div>
