<div>
  <div class="playlist-min ms-0 p-1 mb-1">
    <div class="playlist-min-img position-relative">
      <div class="card-img-overlay d-centered">
        <i class="bi bi-music-note-list text-white fs-4"></i>
      </div>
      <img src="assets/images/logo.png" alt="">
    </div>
    <div class="playlist-min-info">
      <div class="playlist-min-name fw-semibold">
        {{song}}
      </div>
      <div class="playlist-min-date">
        {{'numberOfSongs'| translate}}:
      </div>
    </div>
  </div>
</div>
